section.temporary#about
  .flex.flex--center
    .col-3.flex--center
      //.header-arrow
      h2.large.title
  .flex.flex--center
    .col-3
      h2.large.home-lead I am a freelance Illustrator/motion designer/animator based in Leeds. Always looking to collaborate so get in touch if you like what you see.
